{% extends "other/base.html" %}
{% block title %} <title>about</title> {% endblock %}
{% block content %}
    <div class="centered p-4">
        {% if current_user.is_authenticated %}
            <h3 class="fst-italic"><a href="{{ url_for('auth.my_profile') }}">Мій профіль</a></h3>
            <h3 class="fst-italic"><a href="{{ url_for('auth.logout_new') }}">Вихід</a></h3>
        {% else %}
            <h3 class="fst-italic"><a href="{{ url_for('auth.register') }}">Зареєструватися</a></h3>
            <h3 class="fst-italic"><a href="{{ url_for('auth.login3') }}">Увійти</a></h3>
        {% endif %}
    </div>
{% endblock %}
{% block marg %}
    <span class="centered2 p-4"><a href="{{ url_for('appb.base') }}" class="fst-italic link-secondary text-dark">Base page</a></span>
{% endblock %}
{% block footer %}
    <div>
        <p class="display-10 fst-italic">@marian_pidchashyi</p>
    </div>
{% endblock %}
